<%-include("partials/header.ejs") %>
    <section id="about_section">  
     <p >I created this website as a practise project , but I will keep enhancing this while learning and implementing new technologies to get the desired result , the desired blog website I want . I will add on here  some stories or thoughts that I randomly get , I am hoping to add on comment functionality here , till then enjoy this website as it is ✨🥹 </p>
     
     </section> 
     <%-include("partials/footer.ejs") %>
    
 
