<%-include("partials/header.ejs") %>
<section id="card">
   
    <div class="card1"> <a href="card1"> <img src="/card1.jpg" alt=""> </a>
    <div>
        <h2>FOMO ? </h2>
        <span style="color:#919186"> <p>
            Finally writing here for the first time . yippee!! Not a big deal though but I always wanted to create a space where I can write my thoughts , weird scary thoughts .So shall we begin ?😌 bear with my rant.
            <br>
             <br>
           <a href="card1"><span style= "font-size: larger;">Read more .....</span> </a> 
        </p>
    </span>  
    </div>      
    </div>

    <div class="card1"> <a href="card2"> <img src="/card2.jpg" alt=""> </a>
        <div>
            <h2> Me an escapist? </h2>
            <span style="color:#919186"> <p>
                I try to keep myself busy ...yup I am an escapist mostly,  trying to escape how I feel  about certain things, about things that make me emotionally weak , I feel like I don't have much time to pay heed to this you know , so I try to escape that by making myself busy ,
                <br>
                 <br>
               <a href="card2"><span style= "font-size: larger;">Read more .....</span> </a> 
            </p>
        </span>  
        </div>    
    </div>

    <div class="card1"> <a href="card3"> <img src="/card3.jpg" alt=""> </a>
        <div>
            <h2> Sudden optimism</h2> 
            <span style="color:#919186"> <p>
                The mid-terms ended  , I wanted to rush back home real quick after spending 8 days away from home ,  being exhausted , uncomfortable and feeling the adrenaline rush everyday the night before exam , all of it has finally ended , and everytime it feels like I have to manage time better in next semester
                <br>
                 <br>
               <a href="card3"><span style= "font-size: larger;">Read more .....</span> </a> 
            </p>
        </span>  
        </div>   
    </div>

    <div class="card1"> <a href="card4"> <img src="/card4.jpg" alt=""></a>
        <div>
            <h2>  Grateful 👀 </h2> 
            <span style="color:#919186"> <p>
                Mmmm hisashiburi ....long time , well its raining right now , the clocks at 12.43 am just at this moment while I have started writing , such cozy looking environment , I was solving a question on leetCode , had a headache because god such a no reason hectic day today was,
                <br>
                 <br>
               <a href="card4"><span style= "font-size: larger;">Read more .....</span> </a> 
            </p>
        </span>  
        </div>  
     </div>

    <div class="card1"> <a href="card5"> <img src="/Regrets.gif" alt=""></a>
        <div>
            <h2>  Denial  </h2> 
            <span style="color:#919186"> <p>
                A while ago , one of my friends asked me a question , we were just casually talking , actually playing this game called truth and dare , its a little stupid game atleast for me ,I would never do a dare and the questions that are asked I doubt I would ever answer truthfully 💀
                <br>
                 <br>
               <a href="card5"><span style= "font-size: larger;">Read more .....</span> </a> 
            </p>
        </span>  
        </div>  
     </div>

    <div class="card1"> <a href="card6"> <img src="/card6.jpg" alt=""></a> 
        <div>
            <h2>  LIVE IN THE<br> PRESENTTT  </h2> 
            <span style="color:#919186"> <p>
            Past few days , I have been feeling so troubled , its like the old days , the JEE days but I'm in a better condition now , anyway , I had that feeling of continuous stress and irritation due to that, I had so many things to think about , and I could not focus at all 
                <br>
                 <br>
               <a href="card6"><span style= "font-size: larger;">Read more .....</span> </a> 
            </p>
        </span>  
        </div>  
    </div>

    <div class="card1"> <a href="card7"> <img src="/card7.jpg" alt=""></a>
        <div>
            <h2> Privilege </h2> 
            <span style="color:#919186"> <p>
            It literally feels like a writing a diary now, to some extent. The difference being I maintain boundaries here of not pouring out all my thoughts, at least not directly, hehehe. I just resumed reading a book I have been stuck with since last year, yup that's the level of procrastination 
                <br>
                 <br>
               <a href="card7"><span style= "font-size: larger;">Read more .....</span> </a> 
            </p>
        </span>  
        </div>  
     </div>

 </section>
<%-include("partials/footer.ejs") %>