<%-include('partials/header.ejs') %>

<div class="descriptionCard1">  
    <h3>Privilege</h3>
   <h4>July 16 , 2024</h4>
<p>
 It literally feels like a writing a diary now , it is to some extent , difference being I maintain boundaries here of not pouring out all my thoughts atleast not directly hehehe.I just resumed reading a book I have been stuck with since last year , yup that's the level of procrastination (â¤ï¸=>or maybe there are so many other things , other stress that I can't take out time for it) (ðŸ§ =>excuse)
</p>
The book is <i> Range</i> by <i>David Epstein </i>, one of the two self help books I have , the other one is <i>How to win friends and influence people</i> by <i>Dale Carnegie </i>, the latter one had instructions on how to make the most out of reading that book , those instructions asked me to make notes and mark important areas if you are not reading just for fun , So I left that book , no offense I did not want to disrespect the instructions mentioned ðŸ˜“ really , I have to complete Range first then this one , and then buy a new one.
<p>
   Anyway so about <i>Range</i> , I read about a now well-known famous person ,who tried out art but failed  , who left school , became an art salesman failed at it , resumed studies couldn't keep up , became a school teacher soon failed there , and even became a pastor and failed there too , and finally returned back to art , brought a new , his own form of expression through art , died young and became more famous after his death , One of his paintings sold for over $100 million , that person was Van Gogh .
   
   
   <p>It felt good to read about him , that made me think about this "privilege" of trying out different things , it was definitely easier in the past .Now , everything is too competitive .I feel like those who have the privilege of trying different things are either the ones "who have everything and nothing to lose," or "those who have nothing and therefore nothing to lose." </p>
</p>
Then there are the middle ones , stuck in between  , they have not too much , but not too little , so they gotta maintain things , becoming mediocre .They're majority in the rat race , trying to follow that one unique person , and ending up becoming the most general one , I don't think anyone reading this right now can relate with this or can understand what I'm trying to say , but if you get it ? ðŸ™Œ buddy , hang in there you'll find your way too .

<p>
   
<br><br>

There are days , like today , that I feel , I feel the need to have that privilege of leaving the worries and try out everything that fascinates me , or maybe I am forced to follow the rat race , stay mediocre and then one day I will earn that priviledge myself ?? Let's see , till then I just need to hang in there , I guess , just keep trying :/ 


<br> </br>
k byee

</p>
  </div>

<%-include("partials/footer.ejs") %>