<%-include('partials/header.ejs') %>


   <div class="descriptionCard1">  
    <h3>April 23 , 2024</h3>
<p>
   Mmmm hisashiburi ....long time , well its raining right now , the clocks at 12.43 am just at this moment while I have started writing , such cozy looking environment , I was solving a question on leetCode , had a headache because god such a no reason hectic day today was, 4 hours of sleep , I woke up at 6 and did some coding for the paginator starting from 6.45 or 7 am , 1 hour almost after it I guess ,then off to college , the purpose I went for ,travelled for , used my energy and time for was not served ,luck you see , and I came home at 5 , all damn tired wanting to sleep but no choice and had to skip it , pushing my limits (had a class at 6pm), lately I have been feeling of making my diet healthy , eating more and exercising too , I have no stamina if I exclude the willpower , anyways , I was wondering , about the way I have started accepting uncertainties , although it took me some time but I did start to accept life the way it is , face the stones aimed for my face 💀 , and in the process I got to meet people , some good and weird , some fine , some ummm anyways , but the experience was good , like getting to observe different varieties of people (saying as if they are things).

</p>

<p>Basically , I learned from it , the way to handle weird situations , I learnt to face being uncomfortable , I learnt to atleast pose my thoughts on something , to speak up for something , I learnt to be a little more social , I learnt to not care a little more (just a little here ok) , I learnt that no matter how much I escape , that higher one , the almighty , he'll make sure to make me face such a situation in future , uptill now I have face a lot of different unexpected situations that tested my patience , my breaking down level , but compared to the first year's frustrations , I'm pretty chill now . I hope I'll keep challenging myself like this , I hope in future too I'll put myself out of my comfort zone and atleast experience things ...But I feel grateful to few people I have met , college life got a lil better with them to interact with . </p>


<p>P.S. I'll try to install Linux in my old lappy this week , hope it works out well , I opened it last week and damn the fan noise but I loved the cute compact size of it , this one's pretty large but yes way too light compared to the old one , the clock's at 12.59 btw ....</p>
   </div>

<%-include("partials/footer.ejs") %>