<%-include('partials/header.ejs') %>


   <div class="descriptionCard1">  
    <h3>April 11 , 2024</h3>
<p>
   The mid-terms ended  , I wanted to rush back home real quick after spending 8 days away from home ,  being exhausted , uncomfortable and feeling the adrenaline rush everyday the night before exam , all of it has finally ended , and everytime it feels like I have to manage time better in next semester , its like all the interesting things pop up in your mind , in your mails and everywhere else in the world when you have to study for exams , but still I felt busy productive and an owl these 8 days , I have so much kind of backlog and a load of tasks to do now , it's going to be sooo tough , but I am glad that I would have every single day to spend in doing something .

</p>

<p>Lately I have realised the joy of being busy , infact I realised this way back , the thought just keeps popping up , I have started to fear being idle , like I do want peace , I do want slow paced life , but I think its too early tobe wanting something like that , I mean I have to work up to get that , work so hard that I get to the point where I have the control on my life's pace , I don't know if anyone can relate , but that's what I feel right now , I want to keep myself busy , engrossed in my work , away from stupid , negative thoughts , doing the karma instead of comparing with others, thinking about the uncertain future , I just want to work , learn , and improve and find joy in it , I hope I can achieve this , I need to work on my self-belief really , I can do nothing without it for sure . </p>

<p>Anyways , this week I want to explore backend , go lang and redis , I'd be trying this for the very first time , but I'll try to not use gpt for the concepts, I want to work on the project using the documentation , reading , implementing , let's see if it works out , I'm feeling super-optimistic today 🤔</p>


<p>P.S. I posted my first stackoverflow question , but ......I figured the error the very evening of the same day , I got a reply on it saying my question wasn't much elaborated but the person answered a part of the doubt which I am still unsure about , I feel so nervous about it even still because it feels like a silly question to ask 🥲</p>
   </div>

<%-include("partials/footer.ejs") %>