<%-include('partials/header.ejs') %>


   <div class="descriptionCard1">  
     <h3>Denial</h3>
    <h4>June 16 , 2024</h4>
<p>
   A while ago , one of my friends asked me a question , we were just casually talking , actually playing this game called truth and dare , its a little stupid game atleast for me ,I would never do a dare and the questions that are asked I doubt I would ever answer truthfully 💀, no offence though , anyways , she asked a really good question - "what's your biggest regret uptill now ?" this question really hit me , at that moment I could just say that it has never been only one thing that I have regretted about , such an unsatisfied soul I am , but to be honest there is , there is one thing that I deeply regret about , something that made me hate myself , something that still troubles my mind to think about .

</p>
The regret that I have is about not letting go of the past , its about me being stubborn to prove something that was practically not feasible , I still regret it as to why I did that , holding on to that one thing ruined so many opportunities and possibilities of betterment , but I could just not let go , even at that time when I was going through that phase , I knew something wasn't right , but even my overthinking could not solve that dilemma , I just wanted to satisfy myself with something that was really stupid , I missed out on things , I enclosed myself in that shell, now I feel it was more like an excuse , rather a usual ESCAPE for my mind , "THE DENIAL" Phase .
<p>
But the only good thing is that I have realised it now , I had a friend who used to tell me that I am so negative about things , that I should have a more positive attitutde towards things , towards what I want to achieve and after all this time now I finally realize the meaning of being positive , and its not just about being positive but being confident and putting on your faith into something that you want to achieve , things appear doable and achievable when you do this .     
</p>


<p>
    So now I just put my faith on risk ..to what I want to achieve, to what I want to do and I think practically now , there are still doubts , that haunt me a lot , the what if's that I do not have answer to , but I am trying , I am trying to become confident so much that I can answer to all my what if's .

    
    On an ending note , just wanna mention a dialoge from a scen in haikyu when karasuno loses to seijoh, and take-chan says "is DEFEAT a proof that you're weal ? isn't it more like a trail , a challenge to overcome ? Of whether you can stand up and walk again after falling to your knees and hands ? If you REMAIN on your knees like that , then it would be a sign of weakness" I really loved this scene , although it was heartbreaking to see them fail but that one failure became the reason that they identified their flaws , worked on them and came back stronger , love this anime .... too much self-motivation for today .
 <br><br>
    P.S. Now I need some motivation to fix my sheety sleep schedule..
</p>
   </div>

<%-include("partials/footer.ejs") %>