<%-include("partials/header.ejs") %>

<div class="contact">
  
<center><h1>
  "<%=randomQuote%>"
</h1>
<h2>Wanna connect with me?? </h2>
</center>
<ul>
  <li><a href="https://github.com/Mohini17o3"> <img src="/icons8-github-50.png" alt=""></a></li>
  <li><a href="https://www.linkedin.com/in/mohini-upreti-0064a3255/"> <img src="/icons8-linkedin-50.png" alt=""></a></li>
  <li><a href="mailto:email@example.com?subject=Subject%20Here&body=Body%20Text%20Here"> <img src="/icons8-email-50.png" alt=""></a></li>
</ul>
</div>
<%-include("partials/footer.ejs") %>