<%-include("partials/header.ejs") %>
<section id="card">
    <div class="card1"> <a href="card1"> <img src="/card1.jpg" alt="">FOMO ?</a></div>
    <div class="card1"> <a href="card2"> <img src="/card1.jpg" alt="">Me an escapist?</a></div>
  
 </section>
<%-include("partials/footer.ejs") %>